
<div class="container-fluid mb-5 p-0">
  <div class="container p-0">
    <h1 class="titleSection"><span>Salud</span></h1>
  </div>



  <div class="row p-0">


    <div class="col-lg-6 p-0 mt-5 mapa">

    <img src="/assets/img/Home/saludHome/mapa.png" >


  </div>
  <div class="d-lg-flex justify-content-center col-12 doctor  d-md-none d-lg-block position-absolute ">
    <img  src="/assets/img/Home/saludHome/aym_colombia_doctor.png">
  </div>

  <div class="col-lg-6 p-5 mt-5 info">
    <div class="row  mt-3 px-5 mx-5 gap-3">
      <div class="col-lg-3  columnInfo">
        <span class="icon-usuarios icon"></span>
        <p class="indicador">9232 <br/> Usuarios</p>
      </div>
      <div class="col-lg-3 columnInfo">
        <span class="icon-municipios icon"></span>
        <p class="indicador">983<br/>Municipios</p>
      </div>
      <div class="col-lg-3  columnInfo">
        <span class="icon-prestadores icon"></span>
        <p class="indicador">814<br/>Prestadores de salud</p>
      </div>
    </div>
    <h2 class="titleBanner mt-5 mb-5 px-5 mx-5">Conoce nuestra
      <br/>
      <span>red de prestadores de salud</span></h2>
      <div class="row px-5 mx-5 mt-3 gap-3">
        <div class="btn-banner">
          <a href="#">
            <span class="icon-afiliaciones icon"></span>
            Afiliaciones
          </a>
        </div>
        <div class="btn-banner">
          <a href="#">
            <span class="icon-promocionyprevencion icon"></span>
            Programa de Promoción y Prevención
          </a>
        </div>

        <div class="btn-banner">
          <a href="#">
            <span class="icon-indicadores icon"></span>
            Indicadores de salud
          </a>
        </div>
        <div class="btn-banner">
          <a href="#">
            <span class="icon-derechosydeberes icon"></span>
            Carta derechos y deberes
          </a>
        </div>
      </div>

  </div>

</div>
