<!-- <div class="input-group buscador align-items-center">
  <input
    type="text"
    class="form-control rounded-pill borde-azul fuente-azul"
    placeholder="Buscar"
  />
  <span class="position-absolute fuente-azul end-0 me-3"></span>
</div> -->
<div class="search-govco">
  <div class="bar-search-govco">
    <input
      type="text"
      placeholder="Buscar"
      class="borde-azul input-search-govco fuente-azul"
      aria-label="Buscador"
    />
    <div
      class="icon-search-govco search-icon-search-govco bg-azul"
      aria-hidden="true"
    ></div>
  </div>
</div>
