<div class=" w-100">
  <h1 class="titleSection"><span>Información de interés</span></h1>
  <p class="textColor">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh: </p>

  <div class="rowContainer">
    <div class="div-col">

    </div>
    <div class="div-col">

    </div>
    <div class="div-col">

    </div>
    <div class="div-col">

    </div>
    <div class="div-col">

    </div>
    <div class="div-col">

    </div>
    <div class="div-col">

    </div>
    <div class="div-col">

    </div>

  </div>
</div>
