<div class="container">
  <h1 class="titleSection"><span>Información de interés </span></h1>
  <p class="textColor">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh: </p>

  <div class="row rowContainer">
    <div class="btn-imagen m-4 m-4">
      <a href="#">
        <img class="imagen m-0 p-0" src="/assets/img/Home/infoHome/interes01.svg"
        onmouseover="this.src='/assets/img/Home/infoHome/interes01_hover.svg';"
        onmouseout="this.src='/assets/img/Home/infoHome/interes01.svg';">
        <!--
        NOTIFICACIONES POR AVISO-->
        </a>
    </div>
    <div class="btn-imagen m-4">
      <a href="#">
        <img class="imagen" src="/assets/img/Home/infoHome/interes02.svg"
        onmouseover="this.src='/assets/img/Home/infoHome/interes02_hover.svg';"
        onmouseout="this.src='/assets/img/Home/infoHome/interes02.svg';">
        <!--
        INFORMACIÓN AL SUDADANO-->
            </a>
    </div>
    <div class="btn-imagen m-4">
      <a href="#">
        <img class="imagen" src="/assets/img/Home/infoHome/interes03.svg"
        onmouseover="this.src='/assets/img/Home/infoHome/interes03_hover.svg';"
        onmouseout="this.src='/assets/img/Home/infoHome/interes03.svg';">
        <!--
        GESTION DE PRESTACIONES-->
            </a>
    </div>
    <div class="btn-imagen m-4">
      <a href="#">
        <img class="imagen" src="/assets/img/Home/infoHome/interes04.svg"
        onmouseover="this.src='/assets/img/Home/infoHome/interes04_hover.svg';"
        onmouseout="this.src='/assets/img/Home/infoHome/interes04.svg';">
        <!--
        VENTANILLA VIRTUAL-->
            </a>
    </div>

    <div class="btn-imagen m-4">
      <a href="#">
        <img class="imagen" src="/assets/img/Home/infoHome/interes05.svg"
        onmouseover="this.src='/assets/img/Home/infoHome/interes05_hover.svg';"
        onmouseout="this.src='/assets/img/Home/infoHome/interes05.svg';">
        <!--
        CALENDARIO DE ACTIVIDADES-->
            </a>
    </div>
    <div class="btn-imagen m-4">
      <a href="#">
        <img class="imagen" src="/assets/img/Home/infoHome/interes06.svg"
        onmouseover="this.src='/assets/img/Home/infoHome/interes06_hover.svg';"
        onmouseout="this.src='/assets/img/Home/infoHome/interes06.svg';">
        <!--
       PAGOS IPS Y PROVEEDORES-->
            </a>
    </div>
    <div class="btn-imagen m-4">
      <a href="#">
        <img class="imagen" src="/assets/img/Home/infoHome/interes07.svg"
        onmouseover="this.src='/assets/img/Home/infoHome/interes07_hover.svg';"
        onmouseout="this.src='/assets/img/Home/infoHome/interes07.svg';">
        <!--
        URNA DE CRISTAL-->
            </a>
    </div>
    <div class="btn-imagen m-4">
      <a href="#">
        <img class="imagen" src="/assets/img/Home/infoHome/interes08.svg"
        onmouseover="this.src='/assets/img/Home/infoHome/interes08_hover.svg';"
        onmouseout="this.src='/assets/img/Home/infoHome/interes08.svg';">
        <!--
        SECCIÓN DE NIÑOS-->
            </a>
    </div>
  </div>

</div>
