<div class="row d-flex">
  <div class="col colButtons bor">
    <p class="textColor textP">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
      nibh:
    </p>
    <div class="rowContainer">

      <div class="card" href="#">
        <!--<img src="/assets/govco/icons/actionbuttonshome/planAnticorrupcion.png" class="card-img-top imgSize" />-->
        <i class="bi bi-bank iconsButns"></i>
        <div class="card-body">
          <p class="textColor textC">PLAN ANTICORRUPCIÓN</p>
        </div>
      </div>

      <div class="card" href="#">
        <!--<img src="/assets/govco/icons/actionbuttonshome/pqr.png" class="card-img-top imgSize" />-->
        <i class="bi bi-chat-text iconsButns"></i>
        <div class="card-body">
          <p class="textColor textC">PETICIONES, QUEJAS Y RECLAMOS</p>
        </div>
      </div>

      <div class="card" href="#">
        <!--<img src="/assets/govco/icons/actionbuttonshome/contratacion.png" class="card-img-top imgSize" />-->
        <i class="bi bi-person-lines-fill iconsButns"></i>
        <div class="card-body">
          <p class="textColor textC">CONTRATACIÓN</p>
        </div>
      </div>



      <div class="card" href="#">
        <!--<img src="/assets/govco/icons/actionbuttonshome/normatividad.png" class="card-img-top imgSize" />-->
        <i class="bi bi-file-earmark-text iconsButns"></i>
        <div class="card-body">
          <p class="textColor textC">NORMATIVIDAD</p>
        </div>
      </div>

      <div class="card" href="#">
       <!-- <img src="/assets/govco/icons/actionbuttonshome/redicuentas.png" class="card-img-top imgSize" />-->
        <i class="bi bi-opencollective iconsButns"></i>
        <div class="card-body">
          <p class="textColor textC">RENDICION DE CUENTAS</p>
        </div>
      </div>

    </div>
  </div>

  <div class="col colButtons">
    <p class="textColor textP">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
      nibh:
    </p>

    <div class="d-grid gap-2">
      <button class="btn btn-primary" type="button"> <i class="bi bi-bookmark-star"></i> CERTIFICADOS</button>
      <button class="btn btn-primary" type="button"><i class="bi bi-cash-coin"></i> BOLETINES DE PAGO</button>
      <button class="btn btn-primary" type="button"><i class="bi bi-file-earmark-arrow-down"></i> FORMATOS</button>
      <button class="btn btn-primary" type="button"><i class="bi bi-clipboard2-data"></i> TRAMITES</button>
    </div>

  </div>
</div>
