<div class="container p-0">
  <h1 class="titleSection"><span class="pe-2">Noticias </span></h1>

  <p class="textColor mt-4">
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
    nibh:
  </p>

  <div class="rowContainer">
    <div class="card">
      <img src="assets/img/Home/newsHome/noticias1.PNG" class="card-img-top" />
      <div class="card-body">
        <p class="card-text text-white">
          13 FEBRERO 2024<br />
          <b>Circular de envio de ordenes de cirugías</b>
        </p>
      </div>
      <div class="card-footer border-0 py-3">
        <a href="#" class="boton-amarillo">LEER NOTICIA COMPLETA</a>
      </div>
    </div>
    <div class="card">
      <img src="assets/img/Home/newsHome/noticias2.PNG" class="card-img-top" />
      <div class="card-body">
        <p class="card-text text-white">
          18 ENERO 2024<br />
          <b>Circular cuotas moderadoras y copagos</b>
        </p>
      </div>
      <div class="card-footer border-0 py-3">
        <a href="#" class="boton-amarillo">LEER NOTICIA COMPLETA</a>
      </div>
    </div>
    <div class="card">
      <img src="assets/img/Home/newsHome/noticias3.PNG" class="card-img-top" />
      <div class="card-body">
        <p class="card-text text-white">
          30 DICIEMBRE 2023<br />
          <b>Resolución no.2537 de 28 de diciembre de 2023</b>
        </p>
      </div>
      <div class="card-footer border-0 py-3">
        <a href="#" class="boton-amarillo">LEER NOTICIA COMPLETA</a>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center mb-4">
    <button class="boton-comun mb-4" type="button">CARGAR MÁS NOTICIAS</button>
  </div>
</div>
